a {
  color: #168EEA;
}

a:hover {
  color: #137ac9;
  cursor: pointer;
}

code {
  font-family: 'Source Code Pro', monospace;
}

.footnote {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
}

.remark-slide-content {
  -webkit-font-smoothing: antialiased;
  font-family: 'Open Sans', sans-serif;
  color: #59626A;
  font-size: 1.5rem;
}

.remark-slide-content h1 {
  font-size: 4rem;
}

/* title */

.remark-slide-content.title {
  background: #168EEA;
  color: #fff;
  vertical-align: middle;
  text-align: center;
}

.remark-slide-content.title h1 {
  font-size: 5rem;
  font-weight: 600;
}

.remark-slide-content.title a {
  color: #fff;
}

/* quote */

.remark-slide-content.quote {
  vertical-align: middle;
  font-size: 2rem;
}

.remark-slide-content.quote blockquote {
  font-size: 3rem;
  font-weight: 600;
  font-style: italic;
  margin: 0;
}

/* segue */

.remark-slide-content.segue {
  background: #168EEA;
  color: #fff;
  vertical-align: middle;
}

.remark-slide-content.segue h1 {
  font-size: 5rem;
  font-weight: 600;
}

.remark-slide-content.segue a {
  color: #fff;
}

/* 50/50 */

.remark-slide-content.fifty-fifty {
  display: flex;
  padding: 0;
  height: 100%;
}

.remark-slide-content.fifty-fifty .left-panel {
  background: #168EEA;
  color: #fff;
}

.remark-slide-content.fifty-fifty .right-panel,
.remark-slide-content.fifty-fifty .left-panel {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.remark-slide-content.fifty-fifty p {
  text-align: center;
}
