a {
  color: #168EEA;
}

a:hover {
  color: #137ac9;
  cursor: pointer;
}

code {
  font-family: 'Source Code Pro', monospace;
}

blockquote {
  font-size: 3em;
  font-weight: 600;
  font-style: italic;
  margin: 0;
}

.blockquote-author {
  font-size: 2em;
}

.remark-slide-content {
  -webkit-font-smoothing: antialiased;
  font-family: 'Open Sans', sans-serif;
  color: #333;
}

.inverse-slide {
  background: #168EEA;
  color: #fff;
}

.inverse-slide a {
  color: #fff;
}

.remark-slide-content h1 {
  font-size: 5em;
}
