a {
  color: #168EEA;
}

a:hover {
  color: #137ac9;
  cursor: pointer;
}

code {
  font-family: 'Source Code Pro', monospace;
}

.footnote {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
}

.remark-slide-content {
  -webkit-font-smoothing: antialiased;
  font-family: 'Open Sans', sans-serif;
  color: #59626A;
}

/* title */

.remark-slide-content.title {
  background: #168EEA;
  color: #fff;
  vertical-align: middle;
  text-align: center;
}

.remark-slide-content.title h1 {
  font-size: 5rem;
  font-weight: 600;
}

.remark-slide-content.title a {
  color: #fff;
}

.remark-slide-content.quote {
  vertical-align: middle;
  font-size: 2rem;
}

.remark-slide-content.quote blockquote {
  font-size: 3rem;
  font-weight: 600;
  font-style: italic;
  margin: 0;
}
